body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.selected-unit{
    color: darkblue;
    cursor: none;
    font-weight: bold;
}

.img-wrapper {
    width: auto !important;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #45a049;
}

#currentWeather, #forecastWeather {
    margin-top: 20px;
}

#forecast div {
    display: inline-block;
    width: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 5px;
}

#forecast img {
    width: 50px;
    height: 50px;
}

#icon-container, .temperature {
    display: flex;
    align-items: center;
}
#icon-container  p{
    padding: 8px;
}
p#cityName {
    padding: 16px 8px;
}

#condition, #cityName {
    color: grey;
    margin-left: 4px;
    padding-top: 8px;
}

#temp {
     font-size: 24px;
}